.title {
  text-transform: uppercase;
  font-size     : 32px;
  font-weight   : 600;
  text-align: center;
}

.lesson-routes{
  li {
    a {
      text-decoration: none;
      color: #007bff;
      &:hover {
        color: #0056b3;
      }
    }
  }
}
.lesson-content{
 padding: 30px 30px;
}